.searchbar{
    
    width: 322px;
    height: 58px;
   
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: #7000FF;
    border-radius: 20px;
    
    display: flex;
    align-self: center;
    
    }

    .FaSearch {
        color: white;
        justify-self: center;
        align-self: center;
        margin-left: 5%;
        width: 20px;
        height: 20px;
    }

    .searchbar input {
        background: none;
        border: none;
        height: inherit;
        width: inherit;
        border-radius: 20px;
        color: white;
        font-size: inherit;
        font-family: Comfortaa;
        font-weight: 700;
        outline: none;
    }